.slice-image{
	height: auto;
	width: 25%;
}

/*.container{
	display: flex;
	flex-direction: row;
}*/

#banner {
   display: none;
   height: 40px;
   line-height: 40px;
   position: relative;
   top: -40px;
   background-color: red;
   color: white;
   transition: top .2s; // don't forget to use prefixes

}
/*.dropdown-notification.active {
   top: 0;
}*/

#welcome-message{
	display:block;
	float:right;
	margin-right:25%;
	background-color: white;
}

#header-image{
	width:50%;
	height:auto;
}

h2{
	font-size: 60px;
	color: #0d6185;
}

h3{
	font-size: 40px;
	color: #0d6185;
}


#questions{
	display:block;
	float:left;
	background-color: white;
	margin-left:20%;
}

#more-questions{
	display:block;
	float:right;
	background-color: white;
	margin-right:20%;
}

.scout{
	float:right;
	margin-right:20%;
	/*width: 25%;*/
}

.lana{
	float:left;
	margin-left:20%;
	/*width: 25%;*/
}

#name{
	float:left;
}

#submit{
	/*font-family: 'Permanent Marker', cursive;*/
	font-size: 30px;
	padding:20px;
	background-color: #82ae19;
	color: white; 
	font-family: 'BurbankSmall-Bold';
}

#footer{
	font-size: 30px;
	color:#45b1e2;
}

#meme-text{
	width: 50%;
	text-align: center;
	margin:auto;
}

#image{
	display:none;
	margin:auto;
}


h1{
	font-size: 80px;
	/*background-color: blue;*/
	text-align: center;
	padding: 50px;
	background-color: #45b1e2;
	background-image:url("images/squiggly.png");
	margin-top:-50px;
	color:white;
}

body{
	text-align: center;
	margin: 50px 0;
	background-size: 50%;
	/*background-image:url("images/squiggly.png");*/
	/*font-family: 'Permanent Marker', cursive;*/
	font-size: 20px;
	font-family: 'BurbankSmall-Bold';
	color: #45b1e2;
}

@font-face{
	font-family:'BurbankSmall-Bold';
	src: url("fonts/burbanksmall-bold.otf");
	} 