.slice-image{
    height: auto;
    width: 25%;
}

#banner {
   display: none;
   height: 40px;
   line-height: 40px;
   position: relative;
   top: -40px;
   background-color: red;
   color: white;
   transition: top .2s; // don't forget to use prefixes
}

#welcome-message-parent{
    display: block;
    background-color: white;

}
#welcome-message{
    display: block;
    background-color: white;
    font-size: 40px;   
}

#header-image{
    width: 40%;
    height: auto;
    margin: 2% 0% 0% 0%;
}

h2{
    font-size: 70px;
    color: #0d6185;
    padding-top: 2%;
    margin-bottom: 1%;
}

.tagline{
    color: yellow;
    font-size: 30px;
    margin-top: 0px;
    color: #45b1e2;
}

.characteristics{
    color: #45b1e2;
}

.basics{
    color: #0d6185;
}


.slice1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.slice2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3%
}

.slice3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 5%
}

#form-basics{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #97d4e9;
    color: #0d6185;
}

#form-characteristics{
    display: flex;
    flex-direction: column;
    
}

.basic-slice{
    background-color: #97d4e9;
}

#footer-text{
    color: white;
}

#questions{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

#more-questions{
    display: block;
    background-color: white;
}

#characteristics-box{
    display: flex;
    flex-direction: column;
}

#name{
    float:left;
}

#submit{
    /*font-family: 'Permanent Marker', cursive;*/
    font-size: 30px;
    padding:20px;
    background-color: #82ae19 ;
    color: white; 
    font-family: 'BurbankSmall-Bold';
}

.footer{
    font-size: 30px;
    color: #45b1e2;
    background-color: #45b1e2;
    padding: 5%;
}

#meme-text{
    width: 50%;
    text-align: center;
    margin:auto;
}

#image{
    display:none;
    margin:auto;
}


h1{
    font-size: 150px;
    /*background-color: blue;*/
    text-align: center;
    padding: 50px;
    background-color: #45b1e2 ;
    background-image:url("images/squiggly.png");
    margin-top: -0px;
    color: white;
}

body{
    text-align: center;
    background-size: 50%;
    font-size: 25px;
    font-family: 'BurbankSmall-Bold';
    color: #45b1e2 ;
}

@font-face{
    font-family:'BurbankSmall-Bold';
    src: url("fonts/burbanksmall-bold.otf");
    }